<%= turbo_frame_tag "reflection_editor" do %>
  <div class="space-y-6">
    <h2 class="text-xl font-semibold text-gray-900 mb-4">Add Reflection</h2>
    <%= form_with(model: reflection, url: reflections_path, method: :post, local: true) do |f| %>
      <%= f.text_field :prompt_text, hidden: true, id: "prompt_text" %>
      <%= f.text_area :content, hidden: true, id: "content" %>
      <%= render "templates/text_editor", target_field_id: "content" %>

      <div class="flex items-center justify-between gap-4 bg-white px-4 pb-4 rounded-b-lg border-b border-x border-gray-300">
        <div class="flex w-3/4 items-center gap-4">
          <%= f.hidden_field :reflectable_type, value: "GrowthPlan" %>
          <%= f.hidden_field :reflectable_id, value: growth_plan.id %>
        </div>
        <div>
          <%= f.submit "Save Reflection", 
              class: "text-white bg-brand-active-light hover:bg-brand-active focus:ring-4 focus:ring-brand-inverse font-medium rounded-lg text-sm px-4 py-2 focus:outline-none cursor-pointer",
              data: { action: "click->text-editor#capturePromptText" } %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>